In [1]:
import numpy as np  
import yfinance as yf

In [3]:
prices = yf.download(['FDN', 'FTXL', 'FXD', 'FXR', 'HDEF'], start = '2020-01-01')

[*********************100%***********************]  5 of 5 completed

In [8]:
returns = (
    prices['Close'].pct_change().dropna()
)
returns

Ticker           FDN      FTXL       FXD       FXR      HDEF
Date
2020-01-03 -0.007991 -0.010339 -0.005939 -0.002847 -0.011240
2020-01-06  0.013901 -0.018457  0.001992 -0.003295  0.001218
2020-01-07  0.000844  0.021336 -0.001546  0.000661 -0.003852
2020-01-08  0.008992  0.000602  0.003539  0.001321  0.001995
2020-01-09  0.007728  0.008779 -0.006172  0.003958 -0.000975
...              ...       ...       ...       ...       ...
2024-12-20  0.012295  0.019251  0.015494  0.008408  0.002753
2024-12-23  0.000802  0.026671 -0.001831 -0.000662  0.004992
2024-12-24  0.010013  0.007470  0.009477  0.007416  0.002897
2024-12-26 -0.003212  0.005755  0.002574  0.003812  0.004540
2024-12-27 -0.012810 -0.014745 -0.009364 -0.010739 -0.001643

[1255 rows x 5 columns]

In [10]:
expected_returns = returns.mean()

In [9]:
cov_matrix = returns.cov()

In [11]:
cov_matrix

Ticker       FDN      FTXL       FXD       FXR      HDEF
Ticker
FDN     0.000354  0.000335  0.000245  0.000200  0.000126
FTXL    0.000335  0.000544  0.000296  0.000268  0.000173
FXD     0.000245  0.000296  0.000324  0.000262  0.000162
FXR     0.000200  0.000268  0.000262  0.000253  0.000153
HDEF    0.000126  0.000173  0.000162  0.000153  0.000142

In [12]:
weights = np.array([0.2, 0.2, 0.2, 0.2, 0.2])

In [15]:
portfolio_variance = np.dot(weights.T, np.dot(cov_matrix, weights))
portfolio_variance

np.float64(0.00024237754301420465)

In [16]:
portfolio_stddev = np.sqrt(portfolio_variance) * np.sqrt(252)
portfolio_stddev

np.float64(0.24714194471918274)